# Production — HTTP on port 80
:80 {
    reverse_proxy localhost:5000 {
        header_up X-Real-IP {remote_host}
        header_up Host {host}
        transport http {
            read_timeout  120s
            write_timeout 120s
        }
    }

    request_body {
        max_size 20MB
    }
}

# Staging — HTTP on port 8080
:8080 {
    reverse_proxy localhost:5001 {
        header_up X-Real-IP {remote_host}
        header_up Host {host}
        transport http {
            read_timeout  120s
            write_timeout 120s
        }
    }

    request_body {
        max_size 20MB
    }
}
